@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>"Hello Azure Demo webapp2 (dotnet3.1)"</h2>
    <h2>"My first deployment"</h2>
</div>
